html
  head
    meta(http-equiv='content-type' content='text/html' charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='css/inline.css')
    style(type='text/css')
      include ../css/media.css
  body
    table.table-email
      tbody
        //tr
        //  td.predtext !!!Важно!!!
        tr
          td.wrap-td-medium
                table.header-table(style="background-image: url('%ATTR2%'); background-size: cover;")
                  tbody
                    tr
                      td.td-header
                        img(src='https://crm.privatbank.ua/pic/082491_EML_PB_RU_153371123343248.png').header-img
                        div.td-tourist
                          span
                            i Турист України &nbsp;
                            span – Подорожі збагачують <br>
                          span Tourist of Ukraine – It's all about U!
                tr
                  td.td-medium-text.client Що цікавого подивитись у %ATTR3%?
                tr
                  td.main-td
                    table
                      tbody
                        tr
                          td.col-md-6
                            table
                              tbody
                                tr
                                  td
                                    img(src='%ATTR6%')
                          td.col-md-6
                            table
                              tbody
                                tr
                                  td
                                    b %ATTR9%
                                    p %ATTR12%
                tr
                  td.main-td
                    table
                      tbody
                        tr
                          td.col-md-6
                            table
                              tbody
                                tr
                                  td
                                    img(src='%ATTR7%')
                          td.col-md-6
                            table
                              tbody
                                tr
                                  td
                                    b %ATTR10%
                                    p %ATTR13%
                tr
                  td.main-td
                    table
                      tbody
                        tr
                          td.col-md-6
                            table
                              tbody
                                tr
                                  td
                                    img(src='%ATTR8%')
                          td.col-md-6
                            table
                              tbody
                                tr
                                  td
                                    b %ATTR11%
                                    p %ATTR14%
                tr
                  td.main-td.td-line
                    img(src='https://crm.privatbank.ua/pic/082491_EML_PB_RU_15337230223169.png')
                tr
                  td.td-medium-text.client Де смачно поїсти у %ATTR4%?
                tr
                    td.main-td.table-leisure
                        table
                            tbody
                                tr
                                    td.col-push-6.td-leisure
                                        table
                                            tbody
                                                tr
                                                    td
                                                        img(src='%ATTR15%')
                                                        a(href='%ATTR19%') %ATTR23%
                                                        p Адреса: %ATTR27%
                                    td.td-leisure
                                        table
                                            tbody
                                                tr
                                                    td
                                                        img(src='%ATTR16%')
                                                        a(href='%ATTR20%') %ATTR24%
                                                        p Адреса: %ATTR28%
                tr
                    td.main-td.table-leisure
                        table
                            tbody
                                tr
                                    td.col-push-6.td-leisure
                                        table
                                            tbody
                                                tr
                                                    td
                                                        img(src='%ATTR17%')
                                                        a(href='%ATTR21%') %ATTR25%
                                                        p Адреса: %ATTR29%
                                    td.td-leisure
                                        table
                                            tbody
                                                tr
                                                    td
                                                        img(src='%ATTR18%')
                                                        a(href='%ATTR22%') %ATTR26%
                                                        p Адреса: %ATTR30%
                tr
                    td.main-td.td-line
                        img(src='https://crm.privatbank.ua/pic/082491_EML_PB_RU_15337230223169.png')
                tr
                    td.td-medium-text.client Як цікаво та з користю провести час у %ATTR5%?
                tr
                    td.main-td.table-leisure.table-leisure-interesting
                        table
                            tbody
                                tr
                                    td.col-push-6.td-leisure
                                        table
                                            tbody
                                                tr
                                                    td
                                                        div.bg-leisure-intresting(style="background-image: url('%ATTR31%');")
                                                            span
                                                                p.float-right
                                                                    span від %ATTR35% грн
                                                        a(href='%ATTR39%') %ATTR43%
                                                        p %ATTR47%
                                    td.td-leisure
                                        table
                                            tbody
                                                tr
                                                    td
                                                        div.bg-leisure-intresting(style="background-image: url('%ATTR32%');")
                                                            span
                                                                p.float-right
                                                                    span від %ATTR36% грн
                                                        a(href='%ATTR40%') %ATTR44%
                                                        p %ATTR48%
                tr
                    td.main-td.table-leisure.table-leisure-interesting
                        table
                            tbody
                                tr
                                    td.col-push-6.td-leisure
                                        table
                                            tbody
                                                tr
                                                    td
                                                        div.bg-leisure-intresting(style="background-image: url('%ATTR33%');")
                                                            span
                                                                p.float-right
                                                                    span від %ATTR37% грн
                                                        a(href='%ATTR41%') %ATTR45%
                                                        p %ATTR49%
                                    td.td-leisure
                                        table
                                            tbody
                                                tr
                                                    td
                                                        div.bg-leisure-intresting(style="background-image: url('%ATTR34%');")
                                                            span
                                                                p.float-right
                                                                    span від %ATTR38% грн
                                                        a(href='%ATTR42%') %ATTR46%
                                                        p %ATTR50%
                tr
                    td.main-td.td-line
                        img(src='https://crm.privatbank.ua/pic/082491_EML_PB_RU_15337230223169.png')
                tr
                  td
                    table.wrap-td-not-confirm
                      tbody
                        tr.tr-footer
                          td
                            p.p-text Ще більше цікавих пропозицій, дивовижних місць нашої країни та заходів вашого міста ви знайдете в додатку «Турист України».
                            div
                                a(href='https://itunes.apple.com/ua/app/%D1%82%D1%83%D1%80%D0%B8%D1%81%D1%82-%D1%83%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D1%8B/id1358259628?l=ru&amp;mt=8')
                                    img(src='https://crm.privatbank.ua/pic/074269_EML_P1_RU_153373295656837.png')
                                a(href='https://play.google.com/store/apps/details?id=ua.privatbank.tourist')
                                    img(src='https://crm.privatbank.ua/pic/074269_EML_P1_RU_153373297833723.png')
                        tr.tr-footer-img
                            td.td-header
                                img(src='https://crm.privatbank.ua/pic/082491_EML_PB_RU_153371123343248.png').header-img
                                div.td-tourist
                                    span Життя пiд час подорожi – це мрiя в чистому виглядi. <br> ©Агата Крiстi
                tr
                    td.foot-td
                        img(src='https://crm.privatbank.ua/pic/074269_EML_P1_RU_153373725678873.png')